:root {
    /*color*/
    --color-text: #050316;
    --color-background: #FBFBFE;
    --color-primary: #030391;
    --color-secondary: #D6E4FF;
    --color-accent: #1489D7;

    /*text-size*/
    --title-textsize: 36px;
    --large-textsize: 28px;
    --medium-textsize: 24px;
    --small-textsize: 20px;
    --tiny-textsize: 16px;

    background-color: #FBFBFE;
    font-family: "Inter";
    color: #050316;
}

h1 {
    font-size: var(--title-textsize);
    font-weight: 900;
    margin: 0px;
}

h2 {
    font-size: var(--large-textsize);
    font-weight: 800;
}

h3 {
    font-size: var(--medium-textsize);
    font-weight: 400;
    margin: 0px;
}

h4 {
    font-size: var(--small-textsize);
    font-weight: 400;
    margin: 0px;
}

h5 {
    font-size: var(--tiny-textsize);
    font-weight: 500;
    margin: 0px;
}

input:focus {
    outline: none;
}

input {
    padding: 5px;
}