.AccountPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .Info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .info {
            margin-right: 250px;

            .Firstname {
                margin-bottom: 10px;
            }
        }
    }

    .History {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}